<div data-layout="column" data-layout-align="start start" flex="100" class="md-whiteframe-z1">

    <md-toolbar class="md-grey-300-bg black-fg">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2 class="md-flex text-uppercase">
                <md-icon md-font-icon="icon-document" class="white-fg no-margin"></md-icon>
                <span data-translate>Comentarios</span>
            </h2>
            <md-icon ng-hide="vm.isDisabled()" ng-click="vm.addNote()" md-font-icon="icon-plus-circle-outline"
                class="white black-fg no-margin"></md-icon>
        </div>
    </md-toolbar>

    <md-content flex layout-padding data-layout-xs="column" data-layout="row" data-layout-align="space-between center"
        layout-wrap class="fullwidth">

        <div class="no-results text-center" ng-if="vm.lead.note.length == 0">

            <div class="message">
                <md-icon class="message-icon s96" md-font-icon="icon-document"></md-icon>
                <div class="message-text" translate>Sin comentarios añadidos</div>
            </div>

        </div>

        <div ng-repeat="note in vm.lead.note" layout="row" layout-wrap class="fullwidth"
            ng-init="note.historyShow=false">
            <div flex="100" layout="row" layout-xs="column">

                <div data-layout="row" layout-align="start center" class="mb-20 w-150 mr-15">
                    <div flex>
                        <label class="input-label" data-translate>Fecha</label>
                        <div class="bb">
                            <md-icon md-font-icon="icon-calendar"></md-icon>
                            <small>{{ note.modified | date:'dd/MM/yyyy HH:mm' }}</small>
                        </div>
                    </div>
                </div>

                <div data-layout="row" layout-align="start center" class="mb-20 w-100 mr-15">
                    <div flex>
                        <label class="input-label" data-translate>Usuario</label>
                        <div class="bb">
                            <md-icon md-font-icon="icon-account"></md-icon>
                            <span ng-if="note.user">{{ note.user.first_name }} {{ note.user.last_name }}</span>
                            <span ng-if="!note.user">{{ vm.user.first_name }} {{ vm.user.last_name }}</span>
                        </div>
                    </div>
                </div>

                <md-input-container flex="100" ng-init="name='note___'+$index+'___content'" class="fullwidth">
                    <label data-translate>Comentario</label>
                    <textarea class="dynamic" data-ng-model="vm.lead.note[$index].content" name="{{ name }}"
                        ng-disabled="vm.isDisabled()"></textarea>
                    <error-messages field="leadForm[name]" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>

                <!--                <div class="pl-50" ng-show="note.historyShow">-->
                <!--                    <div ng-repeat="history in note.history">-->
                <!--                        <div class="mb-10">-->
                <!--                            <md-icon md-font-icon="icon-calendar"></md-icon>-->
                <!--                            <span>{{ history.modified | date:'dd/MM/yyyy HH:mm' }}</span>-->
                <!--                        </div>-->
                <!--                        <div class="mb-20">{{ history.content }}</div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <md-button ng-click="vm.deleteNote(note)" ng-hide="vm.isDisabled()" ng-if="!note.id"
                    class="md-fab md-mini md-warn" aria-label="{{'Borrar comentario' | translate}}">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                </md-button>

            </div>

        </div>

    </md-content>

</div>