<div data-layout="column" data-layout-align="start start" flex="100" class="md-whiteframe-z1">

    <md-toolbar class="md-grey-300-bg black-fg">
        <div class="md-toolbar-tools">
            <h2 class="md-flex text-uppercase">
                <md-icon md-font-icon="icon-trending-up" class="black-fg no-margin"></md-icon>
                <span data-translate>Score</span>
            </h2>
        </div>
    </md-toolbar>

    <md-content flex layout-padding data-layout-xs="column" data-layout="row" data-layout-align="space-between center"
                layout-wrap class="fullwidth" ng-if="!vm.lead.id || vm.user.is_admin || true"><!-- Le estoy forzando que siempre se pueda editar -->



    </md-content>

</div>
