<md-dialog class="task-dialog" aria-label="New Task">
    <form name="exportLeadForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" data-layout="row" data-layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" data-ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div data-layout="column">

                <md-input-container flex="30" flex-xs="100">
                    <label data-translate>Concesión</label>
                    <md-select name="concessionaire__in" data-ng-model="vm.exportLead.concessionaire__in" multiple>
                        <md-option data-ng-repeat="concessionaire in vm.concessionaires" data-ng-value="concessionaire.id">
                            {{ concessionaire.name }}
                        </md-option>
                    </md-select>
                    <error-messages field="exportLeadForm.concessionaire__in" server-errors="vm.serverErrors" required></error-messages>
                </md-input-container>

                <div>
                    <label class="font-size-12 secondary-text" data-translate>Creados desde</label>
                    <md-datepicker name="created_start_date" data-ng-model="vm.exportLead.created_start_date"
                                   md-placeholder="{{'Creados desde' | translate}}"></md-datepicker>

                    <error-messages field="exportLeadForm.created_start_date" server-errors="vm.serverErrors" required></error-messages>
                </div>

                <div>
                    <label class="font-size-12 secondary-text" data-translate>Creados hasta</label>
                    <md-datepicker name="created_end_date" data-ng-model="vm.exportLead.created_end_date"
                                   md-placeholder="{{'Creados hasta' | translate}}"></md-datepicker>

                    <error-messages field="exportLeadForm.created_end_date" server-errors="vm.serverErrors" required></error-messages>
                </div>

            </div>
        </md-dialog-content>

        <md-dialog-actions data-layout="row" data-layout-align="space-between center">
            <div data-layout="row" data-layout-align="start center">
                <md-button data-debouce-click type="submit" data-ng-click="vm.getDocument()" class="send-button md-accent md-raised"
                           data-ng-disabled="exportLeadForm.$invalid" aria-label="{{'Exportar' | translate}}">
                    <span data-translate>Exportar</span>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
