<div class="pagination" ng-if="1 < pages.length || !autoHide">
    <md-button class="md-icon-button first" ng-if="boundaryLinks" ng-disabled="pagination.current == 1" ng-click="setCurrent(1)" aria-label="Ir al inicio">
        <md-icon md-font-icon="icon-chevron-double-left"></md-icon>
    </md-button>

    <md-button  class="md-icon-button prev" ng-if="directionLinks" ng-disabled="pagination.current == 1" ng-click="setCurrent(pagination.current - 1)" aria-label="Anterior">
        <md-icon md-font-icon="icon-chevron-left"></md-icon>
    </md-button>

    <md-button class="md-icon-button number" ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"  ng-class="{ 'md-accent' : pagination.current == pageNumber, 'md-disabled' : pageNumber == '...'}" ng-click="setCurrent(pageNumber)">
        {{pageNumber}}
    </md-button>

    <md-button class="md-icon-button next" ng-if="directionLinks" ng-disabled="pagination.current == pagination.last" ng-click="setCurrent(pagination.current + 1)" aria-label="Siguiente">
        <md-icon md-font-icon="icon-chevron-right"></md-icon>
    </md-button>

    <md-button class="md-icon-button last" ng-if="boundaryLinks" ng-disabled="pagination.current == pagination.last" ng-click="setCurrent(pagination.last)" aria-label="Último">
        <md-icon md-font-icon="icon-chevron-double-right"></md-icon>
    </md-button>
</div>
