.*

.envs

!/.gitignore
*.pyc
venv

frontend/node_modules
frontend/bower_components
frontend/.tmp/
frontend/dist
frontend/*.png
frontend/.bower-tmp/
/infoauto/config/settings/local.py
/infoauto/celerybeat-schedule
/infoauto/celerybeat.pid

/infoauto/infoauto/media/
frontend.old