.*

.envs

!/.gitignore
*.pyc
venv

frontend/node_modules
frontend/bower_components
frontend/.tmp/
frontend/.bower-tmp/
/backend/infoauto/config/settings/local.py
/backend/infoauto/celerybeat-schedule
/backend/infoauto/celerybeat.pid

/backend/infoauto/infoauto/media/
