#videos {

  .header {
    .h1 {

      md-icon {
        margin-right: 12px;
      }
    }
  }

  .title{
    font-weight: bold;
    margin-bottom: 10px;
  }

  video{
    max-width: 100%;
  }


}


