<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BBAS</title>
</head>
<body>

<h1>Empresas con Ofertas</h1>
<form action="https://go.pardot.com/l/192702/2019-11-19/22nrt6" method="post">
    <label for="">Email</label><br>
    <input type="text" name="email" placeholder="Email"/> <br><br>

    <label for="">Nombre</label><br>
    <input type="text" name="nombre" placeholder="Nombre"/> <br><br>

    <label for="">Apellidos</label><br>
    <input type="text" name="apellidos" placeholder="Apellidos"/> <br><br>

    <label for="">Tipo de cliente</label><br>
    <input type="text" name="Tipo de cliente" placeholder="Tipo de cliente"/> <br><br>

    <label for="">NIF</label><br>
    <input type="text" name="NIF" placeholder="NIF"/> <br><br>

    <label for="">CIF</label><br>
    <input type="text" name="CIF" placeholder="CIF"/> <br><br>

    <label for="">Teléfono</label><br>
    <input type="text" name="Teléfono" placeholder="Teléfono"/> <br><br>

    <label for="">Número de Vehículos</label><br>
    <input type="text" name="Número de Vehículos" placeholder="Número de Vehículos"/> <br><br>

    <label for="">Campaña BBAS</label><br>
    <input type="text" name="Campaña BBAS" placeholder="Campaña BBAS"/> <br><br>

    <label for="">Comentarios</label><br>
    <input type="text" name="Comentarios" placeholder="Comentarios" value="BBAS"/> <br><br>

    <input type="submit" value="Enviar" />
</form>

<h1>Empresas sin Ofertas</h1>
<form action="http://contacto.leaseplango.es/l/192702/2021-02-19/2995gz" method="post">
    <label for="">Email</label><br>
    <input type="text" name="email" placeholder="Email"/> <br><br>

    <label for="">Nombre</label><br>
    <input type="text" name="nombre" placeholder="Nombre"/> <br><br>

    <label for="">Apellidos</label><br>
    <input type="text" name="apellidos" placeholder="Apellidos"/> <br><br>

    <label for="">Tipo de cliente</label><br>
    <input type="text" name="Tipo de cliente" placeholder="Tipo de cliente"/> <br><br>

    <label for="">NIF</label><br>
    <input type="text" name="NIF" placeholder="NIF"/> <br><br>

    <label for="">CIF</label><br>
    <input type="text" name="CIF" placeholder="CIF"/> <br><br>

    <label for="">Teléfono</label><br>
    <input type="text" name="Teléfono" placeholder="Teléfono"/> <br><br>

    <label for="">Número de Vehículos</label><br>
    <input type="text" name="Número de Vehículos" placeholder="Número de Vehículos"/> <br><br>

    <label for="">Campaña BBAS</label><br>
    <input type="text" name="Campaña BBAS" placeholder="Campaña BBAS"/> <br><br>

    <label for="">Comentarios</label><br>
    <input type="text" name="Comentarios" placeholder="Comentarios" value="BBAS"/> <br><br>

    <input type="submit" value="Enviar" />
</form>

</body>
</html>