{% extends "base.html" %}

{% block content %}
    <div class="alert {{ css_class }}" role="alert">
        <h4 class="alert-heading">{{ title }}</h4><hr>
        <p>{{ message }}</p>
        {% if errors %}
            <p class="mb-0">{{ errors }}</p>
        {% endif %}
        {% if link %}
            <p class="mb-0"><hr>
                <a href="{{ link }}">
                    <button type="button" class="btn btn-primary">{{ link_title }}</button>
                </a>
            </p>
        {% endif %}
    </div>
{% endblock content %}

