#user-detail {

    .negative-ml-40{
        margin-left: -40px;
    }

    .negative-mt-130{
        margin-top: -130px;
    }

    .container-image{
        width: 100px;
        min-width: 100px;
        height: 100px;
        min-height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}