<div id="user-detail" class="white-bg">

    <!-- header -->
    <div class="header" style="background-image: url({{vm.user.header_image || 'assets/images/headers/header.jpg'}})" layout="row" layout-align="start end">

    </div>
    <!-- fin header -->

    <div class="white-bg pt-30 pb-50">
        <div class="container-krart">

            <div layout="row" layout-wrap>

                <!-- Columna 1 -->
                <div  flex="33" flex-xs="100" class="pr-40 white-bg negative-mt-130 p-20">

                    <!-- Foto y nombre -->
                    <div layout="row" layout-align="start end">
                        <div class="border pb-20 container-image" style="background-image: url({{vm.user.photo || 'assets/images/avatars/profile.jpg'}})">

                        </div>

                        <div layout="column" class="text-uppercase pl-20">
                            <span class="font-size-16 grey-600-fg font-weight-300">{{ vm.user.first_name }}</span>
                            <span class="font-size-12 font-weight-700">{{ vm.user.last_name }}</span>
                            <div class="font-size-10 mt-30">
                                <span class="bt border-krart color-krart pt-10 mr-5" ng-repeat="professional_profile in vm.professional_profiles"
                                      ng-if="vm.user.professional_profile===professional_profile.id">
                                    {{ professional_profile.name }}
                                </span>
                                <span class="grey-600-fg mr-5">/</span>
                                <span class="grey-600-fg">{{ vm.user.country_data.name }}</span>
                            </div>
                        </div>

                    </div>

                    <!-- Valoraciones -->
                    <div layout="row" layout-align="space-between center" class="mt-50 border p-20">
                        <span data-translate class="font-size-12 grey-600-fg">Valoración media</span>
                        <stars average="vm.user.average_rating"></stars>
                    </div>

                    <!-- Biografía -->
                    <div class="mt-50">
                        <span class="font-size-12 font-weight-700 color-krart text-uppercase mr-5" data-translate>Biografía</span>
                        <span class="font-size-12 font-weight-700 color-krart mr-5">/</span>
                        <span class="font-size-14 font-weight-300 grey-600-fg">{{ vm.user.biography }}</span>
                    </div>

                    <!-- Redes sociales -->
                    <div class="mt-50">
                        <intelli-social-share text="vm.user.alias"></intelli-social-share>
                    </div>

                </div>


                <!-- Columna 2 -->
                <div  flex="66" flex-xs="100">
                    <slider-products page-size="2" profile="vm.user.id"></slider-products>

                    <slider-projects page-size="2" profile="vm.user.id"></slider-projects>
                </div>

            </div>


        </div>
    </div>




</div>
