<md-dialog class="task-dialog" aria-label="New Task">
    <form name="leadStatusForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" data-layout="row" data-layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" data-ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div layout="row" layout-align="start end">

                <md-input-container>
                    <md-datepicker name="{{vm.field}}" data-ng-model="vm.lead[vm.field]"
                                   md-placeholder="dd/mm/yyyy"></md-datepicker>
                    <error-messages field="saveLeadForm[vm.field]" server-errors="vm.serverErrors"
                                    forcechange></error-messages>
                </md-input-container>

                <md-input-container class="ml-20">
                    <input class="mb-10" type="time" data-ng-model="vm.lead[vm.field]" md-placeholder="hh:mm"
                           step="60">
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions data-layout="row" data-layout-align="space-between center">
            <div data-layout="row" data-layout-align="start center">
                <md-button data-debouce-click type="submit" data-ng-click="vm.saveLeadStatus()" class="send-button md-accent md-raised"
                           data-ng-disabled="leadStatusForm.$invalid" aria-label="{{'Guardar' | translate}}">
                    <span data-translate>Guardar</span>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
