<md-dialog class="task-dialog" aria-label="New Task">
    <form name="duplicateLeadsForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" data-layout="row" data-layout-align="space-between center">
                <span class="title">{{vm.title}}</span>
                <md-button class="md-icon-button" data-ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <div data-layout="column">

                <p data-translate>Puede que esté dando de alta un lead ya creado en el sistema, compruebe si alguno de estos leads es el que usted está creando</p>
                <md-input-container flex="30" flex-xs="100">
                    <label data-translate>Lead</label>
                    <md-select name="lead" data-ng-model="vm.lead">
                        <md-option data-ng-repeat="lead in vm.duplicateLeads" data-ng-value="lead.id">
                            <span>{{lead.client.name}}</span>
                            <span> - </span>
                            <span>{{lead.concessionaire_data.name}}</span>
                            <span> - </span>
                            <span>{{lead.created | date:'dd/MM/yyyy'}}</span>
                            <span> - </span>
                            <span ng-repeat="status in vm.status" ng-if="status.id===lead.status">{{status.name}}</span>
                        </md-option>
                    </md-select>
                    <error-messages field="duplicateLeadsForm.lead" server-errors="vm.serverErrors"></error-messages>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions data-layout="row" data-layout-align="space-between center">
            <div data-layout="row" data-layout-align="start center">
                <md-button type="submit" data-ng-click="vm.goToLead()" class="send-button md-accent md-raised"
                           data-ng-disabled="duplicateLeadsForm.$invalid || duplicateLeadsForm.$pristine" aria-label="{{'Guardar' | translate}}">
                    <span data-translate>Abrir lead</span>
                </md-button>

                <md-button data-ng-click="vm.closeDialog()" class="md-accent md-raised" aria-label="{{'Nuevo lead' | translate}}">
                    <span data-translate>Nuevo lead</span>
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>
