<div id="login" class="flex-scrollable" data-layout="column" ms-scroll>
    <div id="login-form-wrapper" data-layout="column" data-layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
           <img src="assets/logo/logo-color{{domain}}.png" alt="Info auto" />

            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input name="username" data-ng-model="vm.username" placeholder="{{'Email o nombre de usario' | translate}}" required>
                    <div ng-messages="loginForm.username.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span data-translate>Este campo es obligatorio</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" data-ng-model="vm.password" placeholder="{{'Contraseña' | translate}}"
                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span data-translate>Este campo es obligatorio</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button data-debouce-click data-ng-click="vm.login()" type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN"
                           data-ng-disabled="loginForm.$invalid || loginForm.$pristine">
                    <span data-translate>Entrar</span>
                </md-button>

            </form>
        </div>
    </div>
</div>
